@charset "utf-8";
body {
	background-color: #D5D5D5;
}
#header {
	background-color: #2196F3;
}

#title {
	color: #FFFFFF;
	font-size: 62px;
}
figcaption {
	font-size: 18px;
	padding-top: 8px;
}
#image {
	padding-top: 40px;
	padding-bottom: 40px;
}
.table-ul {
	display: table;
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
.table-ul li {
	display: table-cell;
	vertical-align: middle;
}
#copyright {
	padding-top: 42px;
	padding-bottom: 42px;
}






#header {
	padding-top: 150px;
	padding-right: 0px;
	padding-bottom: 130px;
	padding-left: 0px;
}
.btn-margin {
	margin-top: 12px;
	margin-bottom: 12px;
}



figure {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 25px;
}
.btn-ghost {
	background: transparent;

}
.btn-ghost.btn-white {
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}
.btn-ghost.btn-white:hover {
	background: #EEEEEE;
}
figure img {
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
}
#note {
    font-size: 20px;
    color: rgba(255,73,76,1.00);
    text-align: center;
}
